:root {
    /* paleta de colores */
    --color-accent: #0066cc;
    --color-white: #ffffff;
    --color-white-mr: #f5f5f7;
    --color-black: #000000;
    --color-black-mr: #121212;
    --color-gray: #6e6e73;
    /* font-size */
    --font-head: 32px;
    --font-title: 18px;
    --font-p: 16px;
    /* style */
    --border-radius: 18px;
    --box-shadow: 2px 4px 12px #00000014;
    --box-shadow-hover: 2px 4px 16px #00000029;
    --transition: all .3s cubic-bezier(0, 0, .5, 1);
    --border-bt: 2px solid var(--color-accent);
    --transform: scale3d(1.01, 1.01, 1.01);
}

* {
    font-family: "Red Hat Display", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--color-white-mr);
    display: flex;
    justify-content: center;
}

.main-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    margin: 40px 0;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: var(--font-head);
    font-weight: bolder;
    color: var(--color-black);
    text-decoration: none;
    transition: var(--transition);
}

.logo a:hover {
    color: var(--color-accent);
}

li {
    list-style: none;
    display: inline-block;
}

ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

ul a {
    font-size: var(--font-title);
    text-decoration: none;
    color: var(--color-black);
    padding: 10px 15px;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}

ul a:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
    box-shadow: var(--box-shadow-hover);
}

ul>button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

/* theme changer */
.switch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}

.toggle-label {
    position: relative;
    display: block;
    width: 75px;
    height: 44px;
    background-color: var(--color-black);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-circle {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 34px;
    height: 34px;
    background-color: var(--color-white);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

input[type="checkbox"]:checked+.toggle-label {
    background-color: var(--color-white);
}

input[type="checkbox"]:checked+.toggle-label .toggle-circle {
    transform: translate(32px, -50%);
    background-color: var(--color-black-mr);
}

input[type="checkbox"]:checked+.toggle-label::after {
    opacity: 0;
}

/* end theme changer */

.grid-container {
    width: 100%;
    height: 75vh; /*quitar*/
    display: grid;
    gap: 25px;
    grid-template: calc(50% - 12.5px) calc(50% - 12.5px) / calc(35% - 16.6px) calc(27% - 16.6px) calc(38% - 16.6px);
}

.grid-container div {
    background-color: var(--color-white);
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}

.grid-container div:hover {
    box-shadow: var(--box-shadow-hover);
    transform: var(--transform);
    border-bottom: var(--border-bt);
}

.grid__ticket {
    grid-area: 1 / 1 / 3 / 2;
}

.grid__explore {
    grid-column: span 2;
}

