<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
    <script type="module" src="/scripts/app.js"></script>
</head>

<body>
    <div class="main-container">
        <nav class="navbar">
            <div class="navdiv">
                <div class="logo"><a href="index.html">MyTicket</a></div>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="ticket.html">MyTicket</a></li>
                    <li><a href="explore.html">Explore</a></li>
                    <li><a href="play.html">RetroPlay</a></li>
                    <button><a href="login.html">Login</a></button>
                    <button class="switch">
                        <input type="checkbox" id="toggle" />
                        <label for="toggle" class="toggle-label">
                            <span class="toggle-circle"></span>
                        </label>
                    </button>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="explore__form">
                <form class="grid__explore__form" id="explore-form">
                    <div>
                        <input type="text" placeholder="Search..." name="query" />
                        <select id="search-by" name="search-by">
                            <option value="track">Track</option>
                            <option value="artist">Artist</option>
                            <option value="album">Album</option>
                        </select>
                        <button class="btn-submit btn" type="submit">Submit</button>

                    </div>
                </form>
            </div>

            <div class="explore__result" id="explore-result">
            </div>
        </div>
    </div>
</body>

</html>