<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <nav class="navbar">
            <div class="navdiv">
                <div class="logo"><a href="index.html">MyTicket</a></div>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="ticket.html">MyTicket</a></li>
                    <li><a href="explore.html">Explore</a></li>
                    <li><a href="play.html">RetroPlay</a></li>
                    <button><a href="login.html">Login</a></button>
                    <button class="switch">
                        <input type="checkbox" id="toggle" />
                        <label for="toggle" class="toggle-label">
                            <span class="toggle-circle"></span>
                        </label>
                    </button>
                </ul>
            </div>
        </nav>
        
        <h1>Login</h1>
    </div>
</body>
</html>