<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTicket</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap" rel="stylesheet">
    <script type="module" src="/scripts/app.js"></script>
</head>

<body>
    <div class="main-container">
        <nav class="navbar">
            <div class="navdiv">
                <div class="logo"><a href="index.html">MyTicket</a></div>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="ticket.html">MyTicket</a></li>
                    <li><a href="explore.html">Explore</a></li>
                    <li><a href="play.html">RetroPlay</a></li>
                    <button><a href="login.html">Login</a></button>
                    <button class="switch">
                        <input type="checkbox" id="toggle" />
                        <label for="toggle" class="toggle-label">
                            <span class="toggle-circle"></span>
                        </label>
                    </button>
                </ul>
            </div>
        </nav>

        <div class="container ticket-container">
            <img src="https://i.pinimg.com/474x/27/b3/63/27b3630a3fafa382347ade5b0470de0c.jpg" alt="MyTicket">
            <div class="ticket">
                <!-- generar MyTicket -->
            </div>
            <form id="generate-ticket">
                <div class="container">
                    <h3>Generate MyTicket</h3>
                    <select class="select" name="metric">
                        <option>Metric</option>
                        <option value="tracks">Top Tracks</option>
                        <option value="artist">Top Artists</option>
                    </select>
                    <select class="select" name="time">
                        <option>Time</option>
                        <option value="short_term">Last Month</option>
                        <option value="medium_term">Last 6 Months</option>
                        <option value="long_term">Last Year</option>
                    </select>
                    <select class="select" name="length">
                        <option>Top Length</option>
                        <option value="5">Top 5</option>
                        <option value="10">Top 10</option>
                        <option value="15">Top 15</option>
                    </select>
                    <button class="btn" type="submit">Generate</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>